@import 'tailwindcss';
@import 'tw-animate-css';

@config '../../../../tailwind.config.js';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@utility section {
  @apply max-w-8xl mx-auto w-full overflow-x-hidden;
  padding-inline: var(--spacing-site);
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: unset;
    font-weight: unset;
  }

  * {
    @apply border-border;
  }
  html {
    scroll-padding-top: var(--header-height);
    overscroll-behavior: none;
    scroll-behavior: smooth;
    accent-color: var(--zad-green);
    caret-color: var(--zad-green);
    overscroll-behavior: none;
    scroll-behavior: smooth;
  }
  ::selection {
    background: hsl(var(--zad-green-light) / 0.2);
    color: hsl(var(--zad-green-light) / 1);
  }
  body {
    @apply bg-background text-foreground-primary flex min-h-[100vh] flex-col;
  }
}

@layer components {
  iconify-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
  }
}

html[data-theme='dark'],
html[data-theme='light'] {
  opacity: initial;
}

:root {
  --zad-green: hsl(170 38% 25%);
  --zad-green-light: hsl(170 38% 35%);
  --zad-beige: hsl(53 29% 82%);
  --zad-beige-light: hsl(53 31% 90%);
  --zad-gold: hsl(54 42% 57%);
  --zad-lime: hsl(79 58% 55%);

  --radius: 0.625rem;
  /*beige*/
  --background: var(--zad-beige-light);
  /*white*/
  --background-neutral: oklch(1 0 0);
  --background-inverted: var(--zad-green);

  /*base text colors*/
  --foreground: theme(--color-teal-900);
  /*inverted text colors*/
  --foreground-inverted: var(--zad-beige-light);

  --card: var(--zad-beige-light);
  --card-foreground: theme(--color-teal-900);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.147 0.004 49.25);
  /*green*/
  --primary: var(--zad-green);
  --primary-foreground: var(--zad-gold);
  /*gold*/
  --secondary: var(--zad-gold);
  --secondary-foreground: var(--zad-green);
  /*beige*/
  --muted: var(--zad-beige-light);
  --muted-foreground: var(--foreground);

  --accent: oklch(0.97 0.001 106.424);
  --accent-foreground: oklch(0.216 0.006 56.043);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.923 0.003 48.717);
  --input: oklch(0.923 0.003 48.717);
  --ring: var(--zad-gold);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0.001 106.423);
  --sidebar-foreground: oklch(0.147 0.004 49.25);
  --sidebar-primary: oklch(0.216 0.006 56.043);
  --sidebar-primary-foreground: oklch(0.985 0.001 106.423);
  --sidebar-accent: oklch(0.97 0.001 106.424);
  --sidebar-accent-foreground: oklch(0.216 0.006 56.043);
  --sidebar-border: oklch(0.923 0.003 48.717);
  --sidebar-ring: oklch(0.709 0.01 56.259);
}

[data-theme='dark'] {
  --background: var(--zad-green-light);
  --background-subtle: var(--zad-green);
  --background-inverted: oklch(0.985 0.001 106.423);

  --foreground: oklch(0.985 0.001 106.423);
  --foreground-inverted: oklch(0.147 0.004 49.25);
  --card: oklch(0.216 0.006 56.043);
  --card-foreground: oklch(0.985 0.001 106.423);
  --popover: oklch(0.216 0.006 56.043);
  --popover-foreground: oklch(0.985 0.001 106.423);
  --primary: oklch(0.923 0.003 48.717);
  --primary-foreground: oklch(0.216 0.006 56.043);
  --secondary: oklch(0.268 0.007 34.298);
  --secondary-foreground: oklch(0.985 0.001 106.423);
  --muted: oklch(0.268 0.007 34.298);
  --muted-foreground: oklch(0.709 0.01 56.259);
  --accent: oklch(0.268 0.007 34.298);
  --accent-foreground: oklch(0.985 0.001 106.423);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.553 0.013 58.071);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.216 0.006 56.043);
  --sidebar-foreground: oklch(0.985 0.001 106.423);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0.001 106.423);
  --sidebar-accent: oklch(0.268 0.007 34.298);
  --sidebar-accent-foreground: oklch(0.985 0.001 106.423);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.553 0.013 58.071);
}

@theme inline {
  --text-display: clamp(3.17rem, 2.468rem + 3.51vw, 5.63rem);
  --text-h1: clamp(2.54rem, 1.98rem + 2.8vw, 4.5rem);
  --text-h2: clamp(2.03rem, 1.582rem + 2.24vw, 3.6rem);
  --text-h3: clamp(1.63rem, 1.272rem + 1.79vw, 2.88rem);
  --text-h4: clamp(1.3rem, 1.014rem + 1.43vw, 2.3rem);
  --text-h5: clamp(1.04rem, 0.812rem + 1.14vw, 1.84rem);
  --text-h6: clamp(0.83rem, 0.648rem + 0.91vw, 1.47rem);
  --text-body-large: clamp(1.14rem, 1.102rem + 0.19vw, 1.26rem);
  --text-body-main: clamp(1rem, 0.984rem + 0.08vw, 1.05rem);
  --text-body-small: clamp(0.875rem, 0.875rem + 0vw, 0.875rem);
  --font-sans: var(--font-graphik);
  --spacing-8xl: 90rem;

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --spacing-site: clamp(1.5rem, 0.406rem + 5.47vw, 5rem);
  --spacing-xl: clamp(1.5rem, 0.406rem + 5.47vw, 5rem);
  --spacing-lg: clamp(1.5rem, 1.032rem + 2.34vw, 3rem);
  --spacing-md: clamp(1.5rem, 1.188rem + 1.56vw, 2.5rem);
  --spacing-sm: clamp(1rem, 0.844rem + 0.78vw, 1.5rem);
  --spacing-xs: clamp(0.5rem, 0.344rem + 0.78vw, 1rem);

  --color-zad-green: var(--zad-green);
  --color-zad-green-light: var(--zad-green-light);
  --color-zad-beige: var(--zad-beige);
  --color-zad-beige-light: var(--zad-beige-light);
  --color-zad-gold: var(--zad-gold);
  --color-zad-lime: var(--zad-lime);

  --color-foreground-primary: --alpha(var(--foreground) / 100%);
  --color-foreground-secondary: --alpha(var(--foreground) / 70%);
  --color-foreground-tertiary: --alpha(var(--foreground) / 50%);

  --color-inverted-primary: --alpha(var(--foreground-inverted) / 100%);
  --color-inverted-secondary: --alpha(var(--foreground-inverted) / 70%);
  --color-inverted-tertiary: --alpha(var(--foreground-inverted) / 50%);

  --color-background: var(--background);
  --color-background-neutral: var(--background-neutral);
  --color-background-inverted: var(--background-inverted);
  --color-foreground: var(--foreground);
  --color-foreground-inverted: var(--foreground-inverted);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}
